@import "tailwindcss";

:root { 
  /* Fonts */
  --font-family: 'Inter', sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --line-height: 1.5;

  /* Color Scheme */
--color: #213547;
--background-color: #ffffff;

  /* Smooth */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For dark theme */
[data-theme='dark'] {
  --background-color: #242424;
  --color: rgba(255, 255, 255, 0.87);
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  background-color: var(--background-color);
  color: var(--color);
}

a {
  text-decoration: none;
  color: inherit;
}